{% extends '../layout1.html'%}

{% block css %}
<link rel="stylesheet" href="/college/history.css">
{% endblock %}

{% block content %}
<div class="history_image"></div>
<div class="history">
    <ul>
        <li><span>2015</span>
            <ul>
                <li>게임 전문 교육기관으로써 발돋움</li>
                <li>게임기획 취업률 90% 달성</li>
            </ul>
        </li>
        <li><span>2016</span>
            <ul>
                <li>게임 프로그래밍반 신설</li>
                <li>서울 동부고용센터 취업률 합산 77.6%</li>
                <li>트롤게임즈 퍼플오션 등 게임회사와 산학협력 체결</li>
                <li>제 1회 게임 기업 설명회</li>
            </ul>
        </li>
        <li><span>2017</span>
            <ul>
                <li>와이즈폴, 트롤게임즈 등과 FGT,산학협력 체결</li>
                <li>제 2회 게임 기업 설명회</li>
                <li>유니티 인증 교육센터 ATC 라이센스 획득</li>
                <li>고용노동부 기관인증평가 3년 우수훈련기관 선정</li>
                <li>직업능력심사평가원 훈련 이수자 평가 'A등급'획득</li>
            </ul>
        </li>
        <li><span>2018</span>
            <ul>
                <li>(주)경일게임아카데미로 사명 변경</li>
                <li>KGA프로게이머 아카데미 신설</li>
            </ul>
        </li>
        <li><span>2019</span>
            <ul>
                <li>경일게임아카데미 별관 개원</li>
                <li>고용노동부 정책 설명회 '취업성과우수대표기관'으로 참여</li>
                <li>게임 원화반 신설</li>
                <li>데스티니 차일드 게임원화 콜라보 특강</li>
                <li>포트나이트 프로게임단 (주)팀케이지에이 창설</li>
                <li>포트나이트 말썽꾼 컵 한국 1위</li>
                <li>포트나이트 월드컵 예선 아시아 2위</li>
                <li>리그오브레전드 2019 Keg 대통령 배 서울지역 예서 ㄴ우승</li>
                <li>CVMAX(전) 그리핀 김대호 감독 명사 특강</li>
                <li>배틀그라운드 KGA FLY.PKC 2부 리그 진출</li>
                <li>프리미엄 사운드 셰에라자드 스폰 협약</li>
                <li>관악구, 송파구 중학교 진로체험</li>
                <li>제 1회 문화거리 일러스트레이트 공모전 개최</li>
                <li>제 1회 문화거리 일러스트레이트 공모전 개최</li>
                <li>고용노동부 기관인증평가 3년 우수훈련기관 2회차 선정</li>
                <li>직업능력심사평가원 훈련 이수자 평가 'A등급' 획득</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}