{% extends 'layout1.html'%}

{% block css %}
<link rel="stylesheet" href="/college/interior.css">
{% endblock %}

{% block content %}
<h1>내부 인테리어 전경</h1>
<div id= "section">
    <div id="left_btn"><</div>
    <div class="motion_sec sec1">
        <p class="interrior_text">
            <span>고충처리함</span><br>
            경일 아카데미는 학생들의 조금이라도 불편하지 않도록 고충처리함을 통해 학생들의 불만을 최선을 다합니다.
        </p>
    </div>
    <div class="motion_sec sec2">
        <p class="interrior_text">
            <span>경일게임아카데미</span><br>
            항상 직원들이 데스크에 상주하여 필요한 서류 및 도움을 드릴 준비를 하고 있습니다.
        </p>
    </div>
    <div class="motion_sec sec3">
        <p class="interrior_text">
            <span>강의실</span><br>
            쾌적한 강의실을 위해 청소업체를 통해 꾸준히 관리하고 있습니다.(정말인가요?) 
        </p>
    </div>
    <div class="motion_sec sec4">
        <p class="interrior_text">
            <span>열정적인 강의</span><br>
            경일 아카데미는 단 한명의 학생이라도 버리고 가지 않습니다.
        </p>
    </div>
    <div class="motion_sec sec5">
        <p class="interrior_text">
            <span>상담실</span><br>
            경일 아카데미는 학생들의 진로나 개인적인 고민들에 대해 같이 고민하고 앞으로 같이 나아갑니다..
        </p>
    </div>
    <div class="motion_sec sec6">
        <p class="interrior_text">
            <span>프로게이밍반</span><br>
            경일 아카데미에서는 프로게이밍 양성을 위해 최적의 게임 환경을 제공합니다.
        </p>
    </div>
    <div id="right_btn">></div>
</div>
<script type = "text/javascript" src = "/college/interior.js"></script>
{% endblock %}