{% extends 'layout1.html'%}

{% block css %}
<link rel="stylesheet" href="/college/location.css">
{% endblock %}

{% block content %}

<div id="map" style="width:1000px;height:800px;"></div>
<script type = "text/javascript" src ='//dapi.kakao.com/v2/maps/sdk.js?appkey={{map_key}}'></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(127.123013114626, 37.5392864881483),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>
    

{% endblock %}