{% extends '../layout1.html'%}

{% block css %}
<link rel="stylesheet" href="/college/teachers.css">
{% endblock %}

{% block content %}
<div class="teacher_img"></div>
<div class="teacherimg img1"></div>
<div class="teacherimg img2"></div>
<div class="teacherimg img3"></div>
<div class="teacherimg img4"></div>
<div class="teacherimg img5"></div>
<div class="teacherimg img6"></div>
<div class="teacherimg img7"></div>
<div class="teacherimg img8"></div>
<div class="teacherimg img9"></div>
<div class="teacherimg img10"></div>
<div class="teacherimg img11"></div>
{% endblock %}