<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/admin_login.css">
</head>
<body>
    <div id="background">
        <div id="login_box">
            <div id="login_info">
                <img id="administrator" src="/Administrator.png">
                <img id="admin_img" src="/admin_img.png">
                <br>
                안녕하세요, 관리자페이지입니다!<br>
                로그인을 하시려면 아이디와 비밀번호를 입력하세요
            </div>
            <input type="text" id="admin_id" placeholder="아이디를 입력해주세요">
            <input type="password" id="admin_password" placeholder="비밀번호를 입력해주세요">
            <button>Login</button>
        </div>
    </div>
</body>
</html>