<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/consulting_list.css">
</head>
<body>
    <div id="header">
        <img src="/경일직업능력개발원.PNG">
        <div id="navi">
            <a href="/admin/admin_list">Administrator</a>
            <a href="/admin/curriculum_list">교육과정</a>
            <a href="/admin/interview_manage">취업정보</a>
            <a href="/admin/notice">커뮤니티</a>
            <a href="/admin/admin_chatting">상담신청</a>
        </div>
    </div>
    <div id="sub_con">
        <div id="admin_info">
            <b>[관리자모드]</b>
            <div>
                최고관리자: {{user_id}}<br/>
                <button onclick="location.href='/admin/admin_logout'">로그아웃</button>
            </div>
        </div>
        <ul id="submenu">
            <b>좌측메뉴</b>
            <li><a href="/admin/admin_chatting">▶ 실시간 상담</a></li>
            <li><a href="/admin/apply">▶ 지원자</a></li>
            <li><a href="#">▶ 자주묻는질문</a></li>
        </ul>
    </div>
    <div id="main_con">
        <div id="con_header"><img src="/관리자이미지.png"><div>지원자 리스트</div></div>
        <div id="contents">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>신청과정</th>
                        <th>작성자</th>
                        <th>나이</th>
                        <th>이메일</th>
                        <th>휴대폰번호</th>
                        <th>개인정보동의</th>
                        <th>보기</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                {% for apply in applies %}
                <form action="/admin/apply_view" method="get">
                    <tbody>
                        <tr>
                            <td>{{apply.id}}</td> <input type="text" name="id" value="{{apply.id}}" style="display: none;">
                            <td>{{apply.cur_title}}</td>
                            <td>{{apply.name}}</td>
                            <td>{{apply.age}}</td>
                            <td>{{apply.email}}</td>
                            <td>{{apply.phone}}</td>
                            <td>{{apply.privacy}}</td>
                            <td><button name="btn" value="view">자세히보기</button></td>
                            <td><button name="btn" value="delete">삭제</button></td>
                        </tr>
                    </tbody>
                </form>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>