<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/interview_manage.css">
</head>
<body>
    <div id="header">
        <img src="/경일직업능력개발원.PNG">
        <div id="navi">
            <a href="/admin/admin_list">Administrator</a>
            <a href="/admin/curriculum_list">교육과정</a>
            <a href="/admin/interview_manage">취업정보</a>
            <a href="/admin/notice">커뮤니티</a>
            <a href="/admin/admin_chatting">상담신청</a>
        </div>
    </div>
    <div id="sub_con">
        <div id="admin_info">
            <b>[관리자모드]</b>
            <div>
                최고관리자: {{user_id}}<br/>
                <button onclick="location.href='/admin/admin_logout'">로그아웃</button>
            </div>
        </div>
        <ul id="submenu">
            <b>좌측메뉴</b>
            <li><a href="/admin/interview_manage">▶ 취업자인터뷰</a></li>
            <li><a href="/admin/employment_status">▶ 취업현황</a></li>
        </ul>
    </div>
    <div id="main_con">
        <div id="con_header"><img src="/관리자이미지.png"><div>취업자 인터뷰</div></div>
        <div>
            <div>
            </div>
        </div>
        <form action="/admin/interview_manage_write" method="POST" id="contents" enctype = "multipart/form-data">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">취업인터뷰 글쓰기</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>제목</td>
                        <td class="left">
                            <input type="text" name="title" style="width:700px;">
                        </td>
                    </tr>
                    <tr>
                        <td>닉네임</td>
                        <td class="left">
                            <input type="text" name="nickname" style="width:700px;">
                        </td>
                    </tr>
                    <tr>
                        <td>내용</td>
                        <td class="left">
                            <textarea name="content" rows="20" cols="100" wrap="hard" placeholder="줄바꿈은 br/을 사용하세요"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>파일첨부</td>
                        <td class="left">
                            <input type="file" name="img">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button>저장하기</button>
        </form>
    </div>
</body>
</html>