<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/interview_manage.css">
</head>
<body>
    <div id="header">
        <img src="/경일직업능력개발원.PNG">
        <div id="navi">
            <a href="/admin/admin_list">Administrator</a>
            <a href="/admin/curriculum_list">교육과정</a>
            <a href="/admin/interview_manage">취업정보</a>
            <a href="/admin/notice">커뮤니티</a>
            <a href="/admin/admin_chatting">상담신청</a>
        </div>
    </div>
    <div id="sub_con">
        <div id="admin_info">
            <b>[관리자모드]</b>
            <div>
                최고관리자: {{user_id}}<br/>
                <button>로그아웃</button>
            </div>
        </div>
        <ul id="submenu">
            <b>좌측메뉴</b>
            <li><a href="/admin/interview_manage">▶ 취업자인터뷰</a></li>
            <li><a href="/admin/employment_status">▶ 취업현황</a></li>
            <li><a href="#">▶ 포트폴리오</a></li>
        </ul>
    </div>
    <div id="main_con">
        <div id="con_header"><img src="/관리자이미지.png"><div>관리자 리스트</div></div>
        <div>
            <div>

            </div>
        </div>
        <div id="contents">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" name="number"> 번호</th>
                        <th>제목</th>
                        <th>닉네임</th>
                        <th>내용</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    {% for interview in interviews %}
                    <tr>
                        <td>{{interview.id}}</td>
                        <td>{{interview.title}}</td>
                        <td>{{interview.nickname}}</td>
                        <td>{{interview.contents}}</td>
                        <td><button>수정</button></td>
                        <td><button>삭제</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button onclick="location.href='/admin/interview_manage_write'">글쓰기</button>
        </div>
    </div>
</body>
</html>