<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/notice.css">
</head>
<body>
    <div id="header">
        <img src="/경일직업능력개발원.PNG">
        <div id="navi">
            <a href="/admin/admin_list">Administrator</a>
            <a href="/admin/curriculum_list">교육과정</a>
            <a href="/admin/interview_manage">취업정보</a>
            <a href="/admin/notice">커뮤니티</a>
            <a href="/admin/admin_chatting">상담신청</a>
        </div>
    </div>
    <div id="sub_con">
        <div id="admin_info">
            <b>[관리자모드]</b>
            <div>
                최고관리자: {{user_id}}<br/>
                <button>로그아웃</button>
            </div>
        </div>
        <ul id="submenu">
            <b>좌측메뉴</b>
            <li><a href="/admin/notice">▶ 공지사항</a></li>
            <li><a href="/admin/review">▶ 수강후기</a></li>
        </ul>
    </div>
    <div id="main_con">
        <div id="con_header"><img src="/관리자이미지.png"><div>공지사항</div></div>
        <div id="contents">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" name="number"> 번호</th>
                        <th>제목</th>
                        <th>보임/숨김</th>
                        <th>작성자</th>
                        <th>최고관리자</th>
                        <th>날짜</th>
                        <th>조회수</th>
                        <th>첨부파일</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                <tbody>
                    {% for notice in notices %}
                    <form action="/admin/notice_modify" method="GET">
                    <tr>
                        <td>{{notice.id}}</td><input type="text" style="display:none;" name="id" value="{{notice.id}}">
                        <td>{{notice.title}}</td>
                        <td>{{notice.show_hide}}</td>
                        <td>{{notice.nickname}}</td>
                        <td></td>
                        <td>{{notice.hits}}</td>
                        <td>{{notice.date}}</td>
                        <td>{{notice.file1}}</td>
                        <td><button name="btn" value="modify">수정</button></td>
                        <td><button name="btn" value="delete">삭제</button></td>
                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
            <button  id="write"  onclick="location.href='/admin/notice_make'">글쓰기</button>
        </div>
    </div>
</body>
</html>