<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/popup_list.css">
</head>
<body>
    <div id="header">
        <img src="/경일직업능력개발원.PNG">
        <div id="navi">
            <a href="/admin/admin_list">Administrator</a>
            <a href="/admin/curriculum_list">교육과정</a>
            <a href="#">취업정보</a>
            <a href="/admin/notice">커뮤니티</a>
            <a href="/admin/consulting_list">상담신청</a>
            <a href="#">방문자분석</a>
        </div>
    </div>
    <div id="sub_con">
        <div id="admin_info">
            <b>[관리자모드]</b>
            <div>
                최고관리자
                dddd
                로그인시각
                <button>로그아웃</button>
            </div>
        </div>
        <ul id="submenu">
            <b>좌측메뉴</b>
            <li><a href="/admin/admin_list">▶ 관리자리스트</a></li>
            <li><a href="/admin/setting">▶ 사이트 환경설정</a></li>
            <li><a href="/admin/board_manage">▶ 게시판 생성관리</a></li>
            <li><a href="#">▶ 게시판 그룹관리</a></li>
            <li><a href="/admin/popup_list">▶ 팝업관리</a></li>
            <li><a href="/admin/mainvideo_list">▶ 메인동영상</a></li>
        </ul>
    </div>
    <div id="main_con">
        <div id="con_header"><img src="/관리자이미지.png"><div>팝업관리 리스트</div></div>
        <div id="contents">
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>팝업타이틀</th>
                        <th>창크기(가로*세로)</th>
                        <th>창위치(좌측*상단)</th>
                        <th>팝업형태</th>
                        <th>보임/숨김</th>
                        <th>수정</th>
                        <th>삭제</th>
                    </tr>
                </thead>
                {% for popup in popup %}
                <tbody>
                    <form action="/admin/popup_modify" method="GET">
                    <tr>
                        <td><input type="checkbox" name="id" value="{{popup.id}}"><input type="text" name="number" value="{{popup.id}}" style="display:none;">{{popup.id}}</td>
                        <td>{{popup.title}}</td>
                        <td>{{popup.popup_width}}*{{popup.popup_height}}</td>
                        <td>{{popup.popup_left}}*{{popup.popup_top}}</td>
                        <td>{{popup.popup_type}}</td>
                        <td>{{popup.show_hide}}</td>
                        <td><button name="btn" value="modify">수정</button></td>
                        <td><button name="btn" value="delete">삭제</button></td>
                    </tr>
                    </form>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <button id="popup_make" onclick="location.href='/admin/popup_make'">팝업창 작성</button>
    </div>
</body>
</html>