<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/popup_make.css">
</head>
<body>
    <div id="header">
        <img src="/경일직업능력개발원.PNG">
        <div id="navi">
            <a href="/admin/admin_list">Administrator</a>
            <a href="/admin/academy_int">시설소개</a>
            <a href="/admin/curriculum_list">교육과정</a>
            <a href="#">취업정보</a>
            <a href="/admin/notice">커뮤니티</a>
            <a href="/admin/consulting_list">상담신청</a>
            <a href="#">방문자분석</a>
        </div>
    </div>
    <div id="sub_con">
        <div id="admin_info">
            <b>[관리자모드]</b>
            <div>
                최고관리자
                dddd
                로그인시각
                <button>로그아웃</button>
            </div>
        </div>
        <ul id="submenu">
            <b>좌측메뉴</b>
            <li><a href="/admin/admin_list">▶ 관리자리스트</a></li>
            <li><a href="/admin/setting">▶ 사이트 환경설정</a></li>
            <li><a href="/admin/board_manage">▶ 게시판 생성관리</a></li>
            <li><a href="#">▶ 게시판 그룹관리</a></li>
            <li><a href="/admin/popup_list">▶ 팝업관리</a></li>
            <li><a href="/admin/mainvideo_list">▶ 메인동영상</a></li>
        </ul>
    </div>
    <div id="main_con">
        <div id="con_header"><img src="/관리자이미지.png"><div>팝업관리 입력/수정</div></div>
        <button>게시판생성관리목록</button>
        <form action="/admin/popup_make" method="POST" id="board_modify">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">게시판 항목 생성하기(하나의 테이블을 이용합니다)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>보임설정</td>
                        <td class="left">
                            <select name="group">
                                <option value="0">보임</option>
                                <option value="1">숨김</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>팝업창 크기</td>
                        <td class="left">가로 <input type="text" name="width"> x 세로 <input type="text" name="height"></td>
                    </tr>
                    <tr>
                        <td>팝업창 위치</td>
                        <td class="left">왼쪽에서 <input type="text" name="from_left">  위에서 <input type="text" name="from_top"></td>
                    </tr>
                    <tr>
                        <td>팝업형태</td>
                        <td class="left">
                            <input type="radio" name="popup_type" value="0"> 팝업
                            <input type="radio" name="popup_type" value="1"> 레이어
                        </td>
                    </tr>
                    <tr>
                        <td>타이틀</td>
                        <td class="left">
                            <input type="text" class="inputbox" placeholder=" 타이틀을 입력해주세요" name="title">
                        </td>
                    </tr>
                    <tr>
                        <td>이미지파일</td>
                        <td class="left">
                            <input type="text"class="inputbox" name="img">
                            <button>파일선택</button> 
                            
                        </td>
                    </tr>
                    <tr>
                        <td>바로가기링크</td>
                        <td class="left">
                            <input type="text" class="inputbox" name="url" placeholder=" 바로가기 링크 삽입">
                        </td>
                    </tr>
                    <tr>
                        <td>링크방법</td>
                        <td class="left">
                            <input type="radio" name="link" value="0"> 부모창 이동 후 창닫기
                            <input type="radio" name="link" value="1"> 새창으로 띄움
                            <input type="radio" name="link" value="2"> 팝업본창에서 이동
                        </td>
                    </tr>
                    <tr>
                        <td>보지않음 설정</td>
                        <td class="left">
                            <input type="radio" name="term" value="0"> 하루동안 보지 않음
                            <input type="radio" name="term" value="1"> 1주일 보지 않음
                            <input type="radio" name="term" value="2"> 15일동안 보지 않음
                            <input type="radio" name="term" value="3"> 한달동안 보지 않음
                            <input type="radio" name="term" value="4"> 다시 보지 않음
                        </td>
                    </tr>
                </tbody>
            </table>
            <button>설정 저장하기</button>
        </form>
    </div>
</body>
</html>