*{
    font-family: "LotteMartDream";
}
h1{
    background: violet;
    height: 150px;

}

.signup_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1000px;
    margin: 0 auto;
}
p{
    height: 30px;
}