{% extends 'layout1.html' %}
{% block css %}
<style>
    
   
</style>
<link rel="stylesheet" href="/CRUD/gallery.css">
{% endblock %}


{% block content %}
{% if msg !=0 %}
<script type = "text/javascript">
console.log('msg');
console.log("{{msg}}");
window.alert("{{msg}}");
</script>
{% endif %}
<ul class="gallery_table">
    {% for item in title %}
    
    <li>
        <a href="/router/{{group}}/{{board}}/view?id={{item.id}}">
            <div class="gallery_img" style=" margin: 0 auto; margin-top: 20px; box-sizing: border-box; background-image:url('http://localhost:3000/{{item.file1}}')"></div>
            <div class="subject"><p>{{item.title}}</p></div>
        </a>
    </li>
    
    {% endfor %}
</ul>
<div class="page">
    <a class="write" href="/router/{{group}}/{{board}}/write">글쓰기</a>
    <ul class="pagenation">
        <a class="down_page">&lt</a>
        <li><a href="/router/{{group}}/{{board}}?page=1">1</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=3">2</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=4">3</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=5">4</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=6">5</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=2">6</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=7">7</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=8">8</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=9">9</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=10">10</a></li>
        <a class="up_page">&gt</a>
    </ul>
    
</div>
<script type ="text/javascript">
let page_up = document.querySelector('.up_page');
let page_down = document.querySelector('.down_page');
let page = document.querySelectorAll('.pagenation>li');
let page_flag=0;
let page_num=1;

page_down.addEventListener('click',()=>{

    if(page_flag==0){return 0;}
    else{
        let h2 = document.querySelector('h2');
        page_flag--;
        let i=1;
        page.forEach(e=>{
            aa =parseInt(page_flag*10+i);+"</a>";
            e.innerHTML ="<a href=./"+h2.value+"?page="+aa+">"+aa;
            i++;
        })
    }
})
// window.addEventListener('DOMContenetLoaded',init);
// function init(){
//     for(i=1;i>=10;i++){
//         page[i].innerHTML = "<a href=./"+h2.value+"?page="+i+">"+i+"</a>";
//     }
// }
// init();
page_up.addEventListener('click',()=>{
    page_flag++;
    let i=1;
    page.forEach(e=>{
        aa =parseInt(page_flag*10+i);+"</a>";
        e.innerHTML ="<a href=./"+h2.value+"?page="+aa+">"+aa;
        i++;
    })
})


</script>
{% endblock %}