<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>경일게임아카데미</title>
    <link rel="stylesheet" href="/main/main_copy.css">
    {% block css %} 
    {% endblock %}
</head>
<body>
    <div id="wrap">
        <div id="main_nav">
            <a href="/"><img id="nav_logo" src="/KGA_LOGO_WHITE.png"></a>
            <ul id="nav_main_list">
                
                {% for item in navi %} 
                <li class="nav_bar intro_main"><a href="/router/{{item.board_uri}}"> {{item.group_name}} </a>
                    <ul class="nav_sub_list intro_sub">
                        {%for mmm in item.board %}
                        <li><a href="/router/{{item.board_uri}}/{{mmm.board_uri}}">{{mmm.board_title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% if login==1%}
                <span>{{nickname}}님환영해요</span>
                <li class="nav_join"><a href="/mypage">마이페이지</a></li>
                <li class="nav_join"><a href="/user/logout">로그아웃</a></li>
                {% else %}
                <li class="nav_join"><a href="/user/login">로그인</a></li>
                <li class="nav_join"><a href="/user/signAgree">회원가입</a></li>
                {% endif %}
            </ul>
        </div>
    <div id="sub_title"><div id = "sub_sub_title"><h1>{{group}}</h1><h2>> {{board_name}}</h2></div></div>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</div>
{% block script %}
{% endblock %}
<script type = "text/javascript" src="/main/main_copy.js"></script>

</body>
</html>