{% extends 'layout1.html' %}

{% block content %}
<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>조회수</th>
    </tr>
    {% for item in title %}
    <tr>
        <td>{{item.id}}</td>
        <td><a href="/{{group}}/{{board}}/view?id={{item.id}}">{{item.title}}</a></td>
        <td>{{item.nickname}}</td>
        <td>{{item.date}}</td>
        <td>{{item.hits}}</td>
    </tr>
    {% endfor %}
</table>
<a href="/{{group}}/{{board}}/write">글쓰기</a>
<button class="down_page">&lt</button>
<ul class="pagenation">
<li><a href="/{{group}}/{{board}}?page=1">1</a></li>
<li><a href="/{{group}}/{{board}}?page=2">2</a></li>
<li><a href="/{{group}}/{{board}}?page=3">3</a></li>
<li><a href="/{{group}}/{{board}}?page=5">5</a></li>
<li><a href="/{{group}}{{board}}?page=4">4</a></li>
<li><a href="/{{group}}/{{board}}?page=6">6</a></li>
<li><a href="/{{group}}/{{board}}?page=7">7</a></li>
<li><a href="/{{group}}/{{board}}?page=8">8</a></li>
<li><a href="/{{group}}/{{board}}?page=9">9</a></li>
<li><a href="/{{group}}/{{board}}?page=10">10</a></li>
</ul>
<button class="up_page">&gt</button>
<form action="./" method="get">
<select name = "keyfield" id = "keyfield">
    <option value= "total">전체</option>
    <option value= "title">제목</option>
    <option value= "nickname">닉네임</option>
    <option value= "user_id">아이디</option>
    <option value= "contents">내용</option>
</select>
<input type="text" name = "keystring">

<input type = "submit" value="검색">
</form>
<script type ="text/javascript">
let page_up = document.querySelector('.up_page');
let page_down = document.querySelector('.down_page');
let page = document.querySelectorAll('.pagenation>li');
let page_flag=0;
let page_num=1;

page_down.addEventListener('click',()=>{

    if(page_flag==0){return 0;}
    else{
        let h2 = document.querySelector('h2');
        page_flag--;
        let i=1;
        page.forEach(e=>{
            aa =parseInt(page_flag*10+i);+"</a>";
            e.innerHTML ="<a href=./"+h2.value+"?page="+aa+">"+aa;
            i++;
        })
    }
})
// window.addEventListener('DOMContenetLoaded',init);
// function init(){
//     for(i=1;i>=10;i++){
//         page[i].innerHTML = "<a href=./"+h2.value+"?page="+i+">"+i+"</a>";
//     }
// }
// init();
page_up.addEventListener('click',()=>{
    let h2 = document.querySelector('h2');
    page_flag++;
    let i=1;
    page.forEach(e=>{
        aa =parseInt(page_flag*10+i);+"</a>";
        e.innerHTML ="<a href=./"+h2.value+"?page="+aa+">"+aa;
        i++;
    })
})


</script>

{% endblock %}