{% extends 'layout1.html' %}



{% block css %}
<link rel="stylesheet" href="/CRUD/list.css">
{% endblock %}

{% block content %}
{% if msg !=0 %}
<script type = "text/javascript">
console.log('msg');
console.log("{{msg}}");
window.alert("페이지가 없습니다");
</script>
{% endif %}

<table class="board">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>조회수</th>
    </tr>
    {% for item in title %}
    <tr>
        <td>{{item.file3}}</td>
        <td><a href="/router/{{group}}/{{board}}/view?id={{item.id}}">{{item.title}}</a></td>
        <td>{{item.nickname}}</td>
        <td>{{item.date}}</td>
        <td>{{item.hits}}</td>
    </tr>
    {% endfor %}
</table>
{% if isLogin ==0 %} 
<a class="write">글쓰기</a>

<script type = "text/javascript">
    let write_btn_click = document.querySelector('.write');
    write_btn_click.addEventListener('click',()=>{
        window.alert("로그인이 필요합니다.")
    })
</script>
{% else %}
<a class="write" href="/router/{{group}}/{{board}}/write">글쓰기</a>
{% endif %}
<div class="page">
    
    <a class="down_page">&lt</a>
        <ul class="pagenation">
        <li><a href="/router/{{group}}/{{board}}?page=1&keyfield={{keyfield}}&keystring={{keystring}}">1</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=2&keyfield={{keyfield}}&keystring={{keystring}}">2</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=3&keyfield={{keyfield}}&keystring={{keystring}}">3</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=4&keyfield={{keyfield}}&keystring={{keystring}}">4</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=5&keyfield={{keyfield}}&keystring={{keystring}}">5</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=6&keyfield={{keyfield}}&keystring={{keystring}}">6</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=7&keyfield={{keyfield}}&keystring={{keystring}}">7</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=8&keyfield={{keyfield}}&keystring={{keystring}}">8</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=9&keyfield={{keyfield}}&keystring={{keystring}}">9</a></li>
        <li><a href="/router/{{group}}/{{board}}?page=10&keyfield={{keyfield}}&keystring={{keystring}}">10</a></li>
    </ul>
    <a class="up_page">&gt</a>
</div>
<form id= "search_box" action="/router/{{group}}/{{board}}" method="get">
<select name = "keyfield" id = "keyfield">
    <option value= "total">전체</option>
    <option value= "title">제목</option>
    <option value= "nickname">닉네임</option>
    <option value= "user_id">아이디</option>
    <option value= "contents">내용</option>
</select>
<input type="text" id="keystring" name = "keystring">

<input type = "submit" id = "find_btn" value="검색">
</form>
<script type ="text/javascript">
let page_up = document.querySelector('.up_page');
let page_down = document.querySelector('.down_page');
let page = document.querySelectorAll('.pagenation>li');
let page_a = document.querySelectorAll('.pagenation>li>a');
let page_flag=0;
let page_num=1;
console.log('이거짱이다')



page_down.addEventListener('click',()=>{

    if(page_flag==0){return 0;}
    else{
        // let h2 = document.querySelector('h1');
        page_flag--;
        let i=1;
        page.forEach(e=>{
            aa =parseInt(page_flag*10+i);+"</a>";
            e.innerHTML =`<a href="/router/{{group}}/{{board}}?page=${aa}&keyfield={{keyfield}}&keystring={{keystring}}">${aa}`;
            i++;
            console.log(aa);
        })
    }
})

page_up.addEventListener('click',()=>{
    page_flag++;
    let i=1;
    page.forEach(e=>{
        aa =parseInt(page_flag*10+i);+"</a>";
        e.innerHTML =`<a href="/router/{{group}}/{{board}}?page=${aa}&keyfield={{keyfield}}&keystring={{keystring}}">${aa}`;
        i++;
        console.log(aa);
    })
})

page_a.forEach(e=>{
    // console.log(e.innerHTML==);
    
})

window.addEventListener('DOMContentLoaded',()=>{
    page_router=`{{index}}`;
    page_limit=parseInt(parseInt(page_router)/12)+1;
    page_a.forEach(e=>{
        if(e.innerHTML >parseInt(page_limit)){
            console.log(e.parentElement);
            e.parentElement.style="display:none;";
            page_up.style.display="none";
        }else{
            e.parentElement.style="display:inline-block;";
            page_up.style.display="inline-block";
            if(e.innerHTML == '{{page}}'){
                e.parentElement.style.background = "rgb(0,100,255)";
                e.style.color = "white";
            }
        }
    })
})



</script>

{% endblock %}