{% extends 'layout1.html' %}

{% block content %}

<div>
    <div class = "popup">
        정말로 삭제하시겠습니까?
        <a href="/{{group}}/{{board}}/delete?id={{id}}">네</a>
        <a class = "not_del">아니요</a>
    </div>

    <div class= "title"><h2>{{title}}</h2></div>
    <div class="date">{{date}}</div>
    <div class="hit">{{hit}}</div>
    <div class="nickname">{{nickname}}</div>
    <div class="text11"></div>
    <script type = "text/javascript">
    const context = document.querySelector('.text11');   
    a='{{contents}}';
    a=a.replace(/\&lt;/gi,"<").replace(/\&gt;/gi,">").replace(/\&quot;/gi,'"').replace(/\&amp;/gi,"&").replace(/\&nbsp;/gi," ");
    console.log(a);
    context.innerHTML=a;
    console.log(context);
    </script>
    {% if file1 %}
    <div class="contents"><img src="http://localhost:3000/{{file1}}"></div>
    {% endif %}
    <a href="/{{group}}}/{{board}}">목록으로</a>
    {% if authority==1 %}
    <button>수정하기</button>
    <button class="delete" value="0">삭제하기</button>
    {% endif %}
</div>

{% endblock %}