{% if msg !=0 %}
<script type = "text/javascript">
window.alert("{{msg}}");
</script>
{% endif %}
<form action="/user/login" method="post" >
    <p><label for="user_id">id</label></p>
    <input type="text" name = "user_id" id="user_id" placeholder="아이디를 입력하세요">
    <p><label for="user_pw">password</label></p>
    <input type="password" name = "user_pw" class="user_pw" placeholder="비밀번호를 입력하세요">
    <input type="submit" value = "로그인">
</form>
<a href="/user/signAgree">회원가입</a>
<a href="/user/auth/kakao">카카오 로그인</a>
<a href="/user/auth/naver">네이버 로그인</a>