
{% extends './layout1.html' %}

{% block content %}

{% if msg !=0 %}
<script type = "text/javascript">
window.alert("{{msg}}");
</script>
{% endif %}
<link rel="stylesheet" href="/user/login.css">
<h1>LOG IN</h1>

<div id="con">
    <form action="/user/login" method="post" >
        <p><label for="user_id">id</label></p>
        <input type="text" name = "user_id" id="user_id" placeholder="아이디를 입력하세요">
        <p><label for="user_pw" >password</label></p>
        <input type="password" name = "user_pw" class="user_pw" placeholder="비밀번호를 입력하세요">
        <br/>
        <input type="submit" value = "LOG IN" id="login">
    </form>
    <div id="API">
        <a href="/user/auth/kakao" class="kakao right"><h3>KAKAO</h3> 아이디로 로그인</a>
        <a href="/user/auth/naver" class="naver right"><h3>NAVER</h3> 아이디로 로그인</a>
        <a href="/user/signAgree" class="join right">JOIN</a>
    </div>
</div>

{% endblock %}