<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/signup" method = "post" class="signup">
        <input type="text" class="hidden" value = "{{ad_agree}}" ><div class = "signup_essential">
            <h1>회원가입</h1>
            <p>
                <label for="user_id">아이디</label>
            </p>
            <input type="text" id = "user_id" name = "user_id" placeholder="아이디를 입력하세요." >
            <p class= "hidden pw_msg"></p>
            <p>
                <label for="user_pw">비밀번호</label>
            </p>
            <input type="password" id = "user_pw" name = "user_pw" placeholder="비밀번호를 입력하세요.">
            <p>
                <label for="user_pw_chk">비밀번호 확인</label>
            </p>
            <input type="password" id = "user_pw_chk"  placeholder="비밀번호를 다시 입력하세요.">
            <p class= "hidden pw_msg"></p>
            <p>
                <label for="user_name">이름</label>
            </p>
            <input type="text" id = "user_name" name = "user_name" placeholder="이름을 입력하세요." >
            <p>
                <label for="user_email">이메일</label>
            </p>
            <input type="email" id = "user_email" name = "user_email" placeholder="이메일을 입력하세요." >
            <p>
                <label for="phone">핸드폰 번호</label>
            </p>
            <select name = "phone" id = "phone">
                <option value= "010">010</option>
                <option value= "011">011</option>
                <option value= "017">017</option>
                <option value= "018">018</option>
                <option value= "019">019</option>
            </select>-
            <input type="text" class ="phone" name = "phone">-
            <input type="text" class ="phone" name = "phone">
            
        </div>
        <div class="signup_optional">
            <p>
                <label for="birth">주민등록번호</label>
            </p>
            <input type="text" id = "birth" class ="user_birth" name = "user_birth">-
            <input type = "text" class = "user_sex" name = "user_sex">******
        </div>
        <input type="submit" class = "submit_btn" value="회원가입">
    </form>
</body>
</html>