{% extends './layout1.html' %}

{% block content %}

    <form action="/user/signup" method = "post" class="signup">
        <input type="text" name = "ad_agree" class="hidden" value = "{{ad_agree}}" ><div class = "signup_essential">
            <h1>회원가입</h1>
            <p>
                <label for="user_id">아이디</label>
            </p>
            <input type="text" id = "user_id" name = "user_id" placeholder="아이디를 입력하세요." >
            <p class= "hidden id_msg"></p>
            <p>
                <label for="user_pw">비밀번호</label>
            </p>
            <input type="password" id = "user_pw" name = "user_pw" placeholder="비밀번호를 입력하세요.">
            <p>
                <label for="user_pw_chk">비밀번호 확인</label>
            </p>
            <input type="password" id = "user_pw_chk"  placeholder="비밀번호를 다시 입력하세요.">
            <p class= "hidden pw_msg"></p>
            <p>
                <label for="user_name">이름</label>
            </p>
            <input type="text" id = "user_name" name = "user_name" placeholder="이름을 입력하세요." >
            <p>
                <label for="nickname">닉네임</label>
            </p>
            <input type="text" id = "nickname" name = "nickname" placeholder="닉네임을 입력하세요." >
            <p>
                <label for="user_email">이메일</label>
            </p>
            <input type="email" id = "user_email" name = "user_email" placeholder="이메일을 입력하세요." >
            <p>
                <label for="phone">핸드폰 번호</label>
            </p>
            <select name = "phone" id = "phone">
                <option value= "010">010</option>
                <option value= "011">011</option>
                <option value= "017">017</option>
                <option value= "018">018</option>
                <option value= "019">019</option>
            </select>
            <input type="text" class ="phone2" name = "phone"  onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="4">-
            <input type="text" class ="phone3" name = "phone"  onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="4">
        </div>
        <div class="signup_optional">
            <p>
                <label for="birth">주민등록번호</label>
            </p>
            <input type="text" id = "birth" class ="user_birth" name = "user_birth"  onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="6">-
            <input type = "text" class = "user_sex" name = "user_sex"  onKeyup="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="1">******
        </div>
        <input type="submit" class = "submit_btn" value="회원가입">
    </form>
    <script type ="text/javascript" src="/user/signup.js"></script>
    <script>


/////////////중복 id check///////////
        let user_id = document.querySelector('#user_id');
        user_id.addEventListener('focusout', async()=>{
            let id_value = document.querySelector('#user_id').value;
            let id_msg = document.querySelector('.id_msg');


            let data = {
                user_id:id_value
            }


            let rst = await fetch('http://localhost:3000/user/signup/idChk',{
                method:'post',
                headers:{"Content-Type": "application/json"},
                body:JSON.stringify(data)
                })
                .then(res=>{
                    return res.json();
                })
                .then(json=>{
                    console.log(json);
                    console.log('야호야호');
                    console.log(json.check);
                    if(json.check){
                        console.log('없는거');
                        id_msg.style.color="green";
                        id_msg.innerHTML=`${id_value}는 사용할 수 있는 아이디입니다.`;
                    }else{
                        console.log('있는거');
                        id_msg.style.color = "red";
                        id_msg.innerHTML = `이미 사용중인 아이디입니다.`;
                    }
                })        
    })
    </script>
{% endblock %}