@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}

*{
    list-style: none;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    font-size:16px;
    overflow-x: hidden;
    font-family: 'LotteMartDream';
}

table{
    margin:0 auto;
    margin-top:20px;
    width:1000px;
    margin-bottom:30px;
    border-collapse: collapse;
}

td{
    height:40px;
}



#sub_title{
    clear:both;
    padding-top:70px;
    background-color:blueviolet;
}

th{
    height:50px;
    border-bottom: 3px solid rgb(0,100,255);
    background-color:rgb(209, 226, 253);
    border-left: 0px;
    border-right:0px;
    
}

th:first-child{
    border-radius: 16px 0 0 0;
}

th:last-child{
    border-radius: 0 16px 0 0;
}

td{
    border-bottom: 1px solid #efefef;
}

table>tr:last-child>td{
    border-bottom: 3px solid rgb(0,100,255);
}

td:last-child{
    width:80px;
}

td:nth-child(4){
    width:120px;
}

td:nth-child(3){
    width:150px;
}

td:nth-child(1){
    width:50px;
}

.page>ul>li{
    display:inline;
}

tr:last-child>td{
    border-bottom: 2px solid rgb(0,100,255) !important;
}



.page>ul>li{
    margin-left:20px;
    font-size: 16px;
}

.page>ul>li:last-child{
    margin-right:20px;
}
.page>ul{
    display:inline-block;
}

.page{
    margin-bottom:10px;
    height:80px;
    overflow-y: hidden;
}
.page>.write{
    /* display:inline-block; */
    float:left;
    margin-left:100px;
    line-height: 30px;
    width:100px;
    height:30px;
    color:white;
    background-color:rgb(209, 226, 253);
    border-radius: 4px;
    box-shadow:3px 3px 3px -2px grey; 
}

.page>.write:hover{
    background-color:rgb(0,100,255);
}

.page>ul>li{
    height:80px;
    line-height: 80px;
}

.down_page, .up_page{
    display:inline-block;
    line-height:80px;
}

#keyfield,#keystring{
    height:30px;
    margin-right:20px;
}

#keystring{
    width:300px;
}

#find_btn{
    width:50px;
    height:30px;
}