{% extends '../layout1.html' %}
{% block css %}
<link rel="stylesheet" href="/job/recuruit.css">
{% endblock %}

{% block content %}
{% if msg !=0 %}
<script type = "text/javascript">
window.alert("{{msg}}");
</script>
{% endif %}
<table>
    <tr>
        <th>취업일자</th>
        <th>학과</th>
        <th>기수</th>
        <th>이름</th>
        <th>회사명</th>
    </tr>
    {% for item in job %} 
    <tr>
        <td>{{item.job_date}}</td>
        <td>{{item.major}}</td>
        <td>{{item.cardinal}}기</td>
        <td>{{item.name}}</td>
        <td>{{item.company}}</td>
    </tr>
    {% endfor %}
</table>
<div class="page">
    <a class="down_page">&lt</a>
        <ul class="pagenation">
            <li><a href="/router/job/recruit?page=1">1</a></li>
            <li><a href="/router/job/recruit?page=2">2</a></li>
            <li><a href="/router/job/recruit?page=3">3</a></li>
            <li><a href="/router/job/recruit?page=4">4</a></li>
            <li><a href="/router/job/recruit?page=5">5</a></li>
            <li><a href="/router/job/recruit?page=6">6</a></li>
            <li><a href="/router/job/recruit?page=7">7</a></li>
            <li><a href="/router/job/recruit?page=8">8</a></li>
            <li><a href="/router/job/recruit?page=9">9</a></li>
            <li><a href="/router/job/recruit?page=10">10</a></li>
        </ul>
    <a class="up_page">&gt</a>
</div>
<form id="search_box" action="/router/{{group}}/{{board}}" method="get">
    <select name = "keyfield" id = "keyfield">
        <option value= "total">전체</option>
        <option value= "major">과정명</option>
        <option value= "job_date">취업년도</option>
        <option value= "company">회사명</option>
    </select>
    <input type="text" id="keystring" name = "keystring">
    
    <input type = "submit" id = "find_btn" value="검색">
</form>

<script type ="text/javascript">
    let page_up = document.querySelector('.up_page');
    let page_down = document.querySelector('.down_page');
    let page = document.querySelectorAll('.pagenation>li');
    let page_flag=0;
    let page_num=1;
    
    page_down.addEventListener('click',()=>{
    
        if(page_flag==0){return 0;}
        else{
            
            page_flag--;
            let i=1;
            page.forEach(e=>{
                aa =parseInt(page_flag*10+i);+"</a>";
                e.innerHTML =`<a href="/router/job/recruit?page=${aa}">${aa}`;
                i++;
            })
        }
    })

    page_up.addEventListener('click',()=>{
        page_flag++;
        let i=1;
        page.forEach(e=>{
            aa =parseInt(page_flag*10+i);+"</a>";
            e.innerHTML =`<a href="/router/job/recruit?page=${aa}">${aa}`;
            i++;
        })
    })
    
    </script>
{% endblock %}