<!-- 문영님 여기다가 만드시면 되여 ㅎㅎㅎㅎㅎ네비바랑 푸터부분만 빼고 레이아웃만 일단 잡으면  될 거 같아여
일단은 html:5 선언하시구 만드시면 될거에영 ㅎㅎㅎㅎㅎ나중에 합칠 예정입니다.
-->
<!-- 넹 감사합니다 ^0^ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="main_video">
     <div id="main_nav">
        <a href="#"><img id="nav_logo" src="../../image/KGA_LOGO_WHITE.png"></a>
        <ul>
            <li>학교소개</li>
            <li>교육과정</li>
            <li>취업정보</li>
            <li>커뮤니티</li>
            <li class="nav_join">로그인</li>
            <li class="nav_join">회원가입</li>
        </ul>    
    </div>   
    </div>
    
    <div id="PR_section">
        <div class="PR first">
        <img id="PR_img" src="/KGAwebsite/image/홍보용1.jpg">
        <h2> 넒고 쾌적한 수업 환경<br/>
            <a>경일 아카데미는 코로나 예방 정책에 따라 철저한 방역과 생활속 거리두기를 실천하고 있습니다.</a></h2>
        
        </div>
        <div class="PR second">
            <img id="PR_img" src="/KGAwebsite/image/홍보용2.jpg">
            <h2> K-digital 산업 2년연속 선정기관<br/>
                <a>고용노동부 주관 디지털 신기술 분야 실무 인재 양성 지원 사업으로서 정부로부터 인증 받은 기관입니다</a> </h2>
            
        </div>
        <div class="PR third">
            <img id="PR_img" src="/KGAwebsite/image/홍보용3.jpg">
            <h2> 기업 연계 실습수업<br/>
                <a>경일 아카데미는 여러 기업과 협업하여 실무에서 할 수 있는 경험들을 제공합니다.</a></h2>
            
        </div>
        <div class="PR fourth">
            <img id="PR_img" src="/KGAwebsite/image/홍보용4.jpeg">
            <h2>경일 아카데미에 야옹이도 있었으면<br/>
                 <a>머 어쩌구 저쩌구 귀여운 야옹이 야옹이 귀여워 루루루룰ㄹ</a></h2>
        </div>
    </div>

    <div id="class_game">
        <a>GAME</a>
        <ul>
            <li>기획</li>
            <li>프로그래밍</li>
            <li>원화</li>
            <li>프로게이머 코칭</li>
        </ul>
    </div>
    <div id="class_new">
        <a>new-technology</a>
        <ul>
            <li>block-chain</li>
            <li>VR/AR</li>
        </ul>
    </div>
    <div id="portfolio_section">
        <ul>
            <li>포폴1</li>
            <li>포폴2</li>
            <li>포폴3</li>
            <li>포폴4</li>
            <li>포폴5</li>
            <li>포폴6</li>
        </ul>
    </div>
    <div id="KGA">
        코딩은 KGA에서
    </div>
    <div id="student_write">
        <a>수강생 후기</a>
        <h1 class="a">후기 1</h1>
        <h1 class="b">후기 2</h1>
        <h1 class="c">후기 3</h1>
        <h1 class="d">후기 4</h1>
        <h1 class="e">후기 5</h1>
        <img src="#">
    </div>
    <div id="enterprise_list">
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
        <button>취업현황 전체보기</button>
    </div>
    <div id="footer">
        <img src="../../image/KGA_LOGO_WHITE.png">
        <ul>
            <li>학교소개</li>
            <li>교육과정</li>
            <li>공지사항</li>
            <li>상담신청</li>
            <li>개인정보처리방침</li>
        </ul>
        
    </div>
    <div id="talk_btn">
        ^-^
    </div>

</body>
</html>