{% extends './layout2.html' %}


{% block css %}
<link rel = "stylesheet" href="/mypage/index.css">
{% endblock %}


{% block content %}
{% if section == 1 %}
<script type ="text/javascript">
window.alert("비밀번호를 성공적으로 변경했습니다.")
</script>
{% endif %}
{% if section == 2 %}
<script type ="text/javascript">
    window.alert("회원정보를 성공적으로 수정했습니다.")
</script>
{% endif %}
{% if section == 3 %}
<script type ="text/javascript">
    window.alert("프로필을 성공적으로 수정했습니다.")
</script>
{% endif %}

<div class="pw_check">
    <h3>비밀번호를 입력해주세요</h3>
    <input type = "password" class= "chk_pw">
    <button class="chk_pw_btn">확인</button>
</div>
<div id ="user_info">
    <h2>나의 정보</h2>
    <div id="user_profile" style ='background-image:url("http://localhost:3000/{{profile}}"); background-size:cover;'></div>
    <div id="user_infos">
        <h2>id : {{user_id}}</h2>
        <h2>닉네임 : {{nickname}}</h2>
        <h2>인증여부: {{authority}}</h2>
    </div>
        
</div>
{% if local %}
<ul id ="mypage_btn">
    <li>
        <h1>내정보수정</h1>
    </li>
    <li>
        <h1>비밀번호 변경</h1>
        
    </li>
    <li>
        <h1>프로필 수정</h1>
    </li>
</ul>
{% else %}
<ul id ="mypage_btn1">
    <li>
        <h1>내정보수정</h1>
    </li>
    <li>
        <h1>프로필 수정</h1>
    </li>
{% endif %}
<div id="mypage_con">

</div>

{% endblock %}

{% block script %}
{% if local %}
<script type = "text/javascript" src="/mypage/index.js"></script>
{% else %}
<script type = "text/javascript" src="/mypage/index copy.js"></script>
{% endif %}
{% endblock %}

