<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/mypage/modify_pw" method="post">
        <table>
            <tr>
                <td><p><lable for ="pw">비밀번호</lable></p></td>
                <td><input type = "password" id = "pw" name="user_pw"></td>
            </tr>
            <tr>
                <td><p>비밀번호 확인</p></td>
                <td><input type = "password" class="pw_chk"></td>
            </tr>
        </table>
        <input id = "submit_btn" type = "submit" value="완료">
    </form>    
</body>
</html>


