@font-face {
    font-family: 'LotteMartDream';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
  }

*{font-family: 'LotteMartDream';
}



.kyngil_introduce_img{
    margin:0 auto;
    width:800px;
    height:100px;
    background-image:url("http://www.kiweb.or.kr/images/college/img_01_01.jpg");
    background-repeat:no-repeat;
    background-size: contain;
}

.kyungil_introduce{
    padding:50px;
    text-align: left;
    line-height: 1.4em;
    /* letter-spacing:0.3em; */
    line-height: 2em;
    padding-left: 220px;
    padding-right: 200px;
}

.right_txt{
    margin-top: 40px;
    text-align: right;
    line-height: 1.4em;
    letter-spacing:0.3em;
}

.right_txt>span{
    font-weight:bold;
    color:rgb(0,100,255);
}