<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
    <link rel="stylesheet" href="/sub/6gak.css">
    <link rel="stylesheet" href="/sub/666666.css">
</head>
<body>   
    <div id="wrap">
    <div class="hide"></div>
    <div id="cover">
        <div id="hexagon">
            <img src="/육각2.png">
        </div>
        <!-- onclick="slideOn() -->
        <div class="class_all A" >Game Artwork</div>
        <div class="class_all B" >Block Chain</div>
        <div class="class_all C" >Game Architecture</div>
        <div class="class_all D" >Game Programing</div>
        <div class="class_all E" >Pro Gamer</div>
        <div class="class_all F" >VR / AR</div>
    </div>

    <div class="curr_content">
        <!-- onclick="slideOff()" -->
        <div class="curri">
            <div class="back">x</div>
            <h1>게임 원화 정규반</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply" onclick="location.href='/router/consulting/apply'">지원하기</button>
            <button class="detail" onclick="location.href='/router/curriculum/gamedrawing'">과정자세히보기</button>
        </div>
        <div class="curri ">
            <div class="back">x</div>
            <h1>블록체인 기반 핀테크 및
                <br/> 응용SW개발자 양성과정</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply" onclick="location.href='/router/consulting/apply'">지원하기</button>
            <button class="detail" onclick="location.href='/router/curriculum/blockchain'">과정자세히보기</button>
        </div>
        <div class="curri ">
            <div class="back" >x</div>
            <h1>게임 기획자 양성과정</h1>
            교육기간 : ~5개월<br/>
            교육시간 : 09:00~18:00<br/>
            교육수당 : 100% 전액국비지원<br/>
            <button class="apply" onclick="location.href='/router/consulting/apply'">지원하기</button>
            <button class="detail" onclick="location.href='/router/curriculum/gameArchitect'">과정자세히보기</button>
        </div>
        <div class="curri ">
            <div class="back" >x</div>
            <h1>Unity 3D 게임 프로그래머<br/>
                 양성과정</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 09:00~18:00(종일반)<br/>
            교육수당 : 100% 전액국비지원<br/>
            <button class="apply" onclick="location.href='/router/consulting/apply'">지원하기</button>
            <button class="detail" onclick="location.href='/router/curriculum/programing'">과정자세히보기</button>
        </div>
        <div class="curri ">
            <div class="back">x</div>
            <h1>프로게이머 정규반</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply" onclick="location.href='/router/consulting/apply'">지원하기</button>
            <button class="detail" onclick="location.href='/router/curriculum/progamerCoaching'">과정자세히보기</button>
        </div>
        <div class="curri">
            <div class="back">x</div>
            <h1>(증강현실) 가상증강현실 응용SW개발자 양성과정</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply" onclick="location.href='/router/consulting/apply'">지원하기</button>
            <button class="detail" onclick="location.href='/router/curriculum/vrar'">과정자세히보기</button>
        </div>
    </div>
    </div>

    <div id="main_nav">
        <a href="/"><img id="nav_logo" src="/KGApng_big.png"></a>
        <ul id="nav_main_list">
            
            {% for item in navi %} 
            <li class="nav_bar intro_main"><a href="/router/{{item.board_uri}}"> {{item.group_name}} </a>
                <ul class="nav_sub_list intro_sub">
                    {%for mmm in item.board %}
                    <li><a href="/router/{{item.board_uri}}/{{mmm.board_uri}}">{{mmm.board_title}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            {% if login==1%}
            <span>{{nickname}}님환영해요</span></ul>
            <li class="nav_join"><a href="/mypage">마이페이지</a></li>
            <li class="nav_join"><a href="/user/logout">로그아웃</a></li>
            {% else %}
            <li class="nav_join"><a href="/user/login">로그인</a></li>
            <li class="nav_join"><a href="/user/signAgree">회원가입</a></li>
            {% endif %}
        
    </div>
        <div id="footer">
            <img src="/KGA_LOGO_WHITE.png">
            <ul>
                <li> <a href="/router/college/introduction">학교소개</a></li>
            <li><a href="/router/curriculum">교육과정</a></li>
            <li><a href="/router/community/notice">공지사항</a></li>
            <li><a href="/router/consulting/apply">지원하기</a></li>
            <li><a href="#">개인정보처리방침</a></li>
                <li><a href="#">개인정보처리방침</a></li>
                <br/>
            </ul>
            <div>
                서울특별시 강동구 천호대로 995 금복빌딩 3,4층 경일게임아카데미(지하철 5,8호선 1번출구 10m이내)
                <br/>
                TEL : 02-479-4050 FAX : 02-479-4056 대표자 : 박병준 개인정보관리책임자 : 서혁준
                <br/>
                사업자번호 : 212-81-89247 통신판매허가번호 : 제2020-서울강동-1360호
                <br/> <br/>
                Copyright © 2016. Kyungil Technical College. All rights reserved.
            </div>
        </div>
        

    <script type="text/javascript" src="/sub/6gak.js"></script>
    <!-- <script type="text/javascript" src="/육각형 만들기.js"></script> -->
</body>
</html>