{% extends '../layout1.html' %}

{% block css %}
    <link rel="stylesheet" href="/sub/class_intro.css">
{% endblock %}

{% block content %}
    <!-- <div class="hide"></div> -->
    <div id="cover">
        <div id="hexagon">
            <img src="http://localhost:3000/육각2.png">
        </div>

        <div class="class A" onclick="slideOn()">Game Artwork</div>
        <div class="class B" onclick="slideOn()">Block Chain</div>
        <div class="class C" onclick="slideOn()">Game Architecture</div>
        <div class="class D" onclick="slideOn()">Game Programing</div>
        <div class="class E" onclick="slideOn()">Pro Gamer</div>
        <div class="class F" onclick="slideOn()">VR / AR</div>
    </div>

    <div class="curr_content">
            
        <div class="curri curriculum_A">
            <div class="back" onclick="slideOff()">◁</div>
            <h1>게임 원화 정규반</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply">지원하기</button>
            <button class="detail">과정자세히보기</button>
        </div>
        <div class="curri curriculum_B">
            <div class="back" onclick="slideOff()">◁</div>
            <h1>블록체인 기반 핀테크 및
                <br/> 응용SW개발자 양성과정</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply">지원하기</button>
            <button class="detail">과정자세히보기</button>
        </div>
        <div class="curri curriculum_C">
            <div class="back" onclick="slideOff()">◁</div>
            <h1>(증강현실) 가상증강현실 응용SW개발자 양성과정</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply">지원하기</button>
            <button class="detail">과정자세히보기</button>
        </div>
        <div class="curri curriculum_D">
            <div class="back" onclick="slideOff()">◁</div>
            <h1>Unity 3D 게임 프로그래머 양성과정</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 09:00~18:00(종일반)<br/>
            교육수당 : 100% 전액국비지원<br/>
            <button class="apply">지원하기</button>
            <button class="detail">과정자세히보기</button>
        </div>
        <div class="curri curriculum_E">
            <div class="back" onclick="slideOff()">◁</div>
            <h1>프로게이머 정규반</h1>
            교육기간 : 별도문의<br/>
            교육시간 : 12:00~21:00<br/>
            교육수당 : 별도문의<br/>
            <button class="apply">지원하기</button>
            <button class="detail">과정자세히보기</button>
        </div>
        <div class="curri curriculum_F">
            <div class="back" onclick="slideOff()">◁</div>
            <h1>게임 기획자 양성과정</h1>
            교육기간 : ~5개월<br/>
            교육시간 : 09:00~18:00<br/>
            교육수당 : 100% 전액국비지원<br/>
            <button class="apply">지원하기</button>
            <button class="detail">과정자세히보기</button>
        </div>
    </div>
        
    <script type="text/javascript" src="/sub/class_intro.js"></script>
    <!-- <script type="text/javascript" src="/육각형 만들기.js"></script> -->
{% endblock %}