<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sub_sub_page(programing).css">
    <script type="text/javascript" src="/sub_sub_page(programing).js"></script>
</head>
<body>
    
    <div id="wrap">
        <div class="frame_out a"></div>
        <div class="frame_out b"></div>
        <div class="frame_out c"></div>
        <div id="frame"><img src="/KGApng.png"></div>
        <div id="a_line" class="scroll_a"></div>
        <div id="frame_in"></div>
       <div id="header">
           <div id="nav_bar">
               <div id="logo">KGA</div>
               <ul id="nav_ul">
                   <li class="nav_a" onclick="move_curriculum('.scroll_a');">Game Programing</li>
                   <li class="nav_b" onclick="move_curriculum('.scroll_b');">Intro</li>
                   <li class="nav_c" onclick="move_curriculum('.scroll_c');">Curriculum</li>
                   <li class="nav_d" onclick="move_curriculum('.scroll_d');">Course Review</li>
                   <li class="nav_e" onclick="move_curriculum('.scroll_e');">FAQ</li>
                   <li class="nav_f" onclick="move_curriculum('.scroll_f');">Apply</li>
                   <!-- 각각 엘리먼트 누르면 해당 영역으로 이동하도록-->
               </ul>
           </div>
       </div>
       <div id="contents">
           <div id="class_intro">
               <div class="inform_con">
                   <h3 class="inform_sub Sub">Unity 3D 게임 프로그래머<br/> 양성과정</h3>
                   <div class="inform_text one">
                    네덜란드 게임 개발자 커리큘럼을 연구하여 게임을 직접 라이브 서비스하고 구현할 수 있는 
                    능력을 만듭니다.<br/> 경일게임아카데미에서는 Unity로부터 공인하는 공식 파트너 교육센터입니다. 
                    체계적인 유니티 전문 개발자 과정 지금 바로 신청하세요!
                    </div>
                    <div class="inform_text two">
                    본 과정은 선발을 통해 이루어지는 훈련생 선발제 운영과정이며
                    훈련생에게 일체 수강료는 요구하지 않습니다.<br/>
                    합격 후 고용센터에서 일주일간의 직업상담을 거쳐 <br/>
                    '국민내일배움카드'를 발급받게 됩니다.<br/>
                    </div>
                    <div class=" inform_middle three">Curriculum</div>
                    <div class="inform_middle four">Riview</div>
                    <div class="inform_middle five">FAQ</div>
                    <div class="inform_middle six">Apply</div>
               </div>
           </div>
           <div id="curr_detail">
            <div id="b_line" class="scroll_b"></div>
               <h1>과정 소개</h1>
               <ul>
                   <li>교육과정명 : (게임콘텐츠 제작)Unity 3D 게임 프로그래머 양성과정 -2</li>
                   <li>교육 일정 :  5개월 3주과정(870 시간)</li>
                   <li>개강일 / 종강일 : 2021-08-08 ~ 2022-01-29</li>
                   <li>교육 장소 : 서울특별시 강동구 천호대로 995,금복빌딩 3,4층</li>
                   <li>강의 정원 : 30명 (선착순 조기마감 주의)</li>
                   <li>수강료 : 정부 전액 지원, 교통비, 식비 지원</li>
                   <li>자격요건 : 대학교 졸업 예정자(내년 9월 이전에 졸업 가능한 자)이상</li>
               </ul>
           </div>
           <div id="class_support">
               <div>
                   취업 책임제도
               </div> 
               <div class="strength">
                <br/>
                <br/>   
                <h1>과정 특장점</h1>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                1. 총 30여가지가 넘는 게임을 만들며 구현력을 기릅니다.
                <br/>
                <br/>
                <br/>
                2. Win API를 통해 직접 게임을 손코딩하고 프로그래밍 원리를 이해합니다.
                <br/>
                <br/>
                <br/>
                3. Unity로 라이브 서비스하여<br/> 직접 구글 스토어에 올리고 관리하는 것까지 <br/>
                최신 트렌드 게임을 직접 만들어보고 서비스합니다.
              
                <br/>
                </div>    
            </div>
            <div class="supply"> 훈련비 전액 정부지원, 교통비, 식비 지원 </div>
           </div>
           <div id="curr_table">
            <img src="/curri_unity.png">
           </div>
           <div id="c_line" class="scroll_c"></div>
           <div id="d_line" class="scroll_d"></div>
           <div id="class_review">
               <h1>수강후기</h1>
               <div class="line"></div>
               <ul>
                   <li><h3>윤영서</h3><br/>
                       <a>학원을 다니면서 제 선택이 틀리지 않았다는걸 알았습니다. 담당 교수님이 학생 한명한명
                           신경 써가며 수업해주시는 모습을 보면 그냥 공장같이 학생을 돈벌이 수단으로 생각하는 
                           곳이 아닙니다. 
                       </a>
                   </li>
                   <li><h3>박성진</h3><br/>
                       <a>수업을 들으면서 항상 뒤쳐지지 않게 이해가 가지 않는 부분들은 끊임없이 피드백을 해주셨고,
                           간간히 상담을 통해서 개개인의 상태에 대해서도 끊임없이 케어를 해주셔서
                           매우 좋았습니다. 
                       </a>
                   </li>
                   <li><h3>강상구</h3><br/>
                        <a>
                            수료를 하며 제일 크게 느끼는 것은 공부를 단 한번도 열심히 하지 않았던 저를 
                            처음으로 배움의 즐거움과 열정을 선물해준 곳이 경일게임아카데미였다 라고 생각합니다. 
                            
                        </a>
                   </li>
                   <li><h3>김나빈</h3><br/>
                        <a>교육과정이 재미있었고 유쾌한 동기들이 있어 함께 이겨낼 수 있었습니다. 
                            또한 정신적으로 힘들 때마다 격려해 주시고, 멘탈을 잡아주신 것이 취업에 큰 도움이 되었어요. 
                        </a>
                   </li>
                   <li><h3>김태용</h3><br/>
                        <a>비전공자인 저에게 프로그래밍은 정말 생소했고 , 그렇기에 두려움을 가지고
                            시작했습니다. 수료할 때가 되어 생각해보니 이곳에 오길 정말 잘했다고 생각합니다!
                            감사합니다~~
                        </a>
                   </li>
                   <li><h3>김지아</h3><br/>
                        <a>
                            게임 프로그래밍을 하고 싶은 사람이라면 누구나 이 곳에서 저처럼 성장할 수 있을 거라고 자신합니다. 
                            전공자여도, 비전공자여도 상관없고 그냥 프로그래머가 되고 싶은 마음 하나면 충분한 것 같습니다. 
                        </a>
                   </li>
                </ul>
                <!-- <div id="bottom"></div> -->
           </div>
           <div id="e_line" class="scroll_e"></div>
           <div id="FAQ">
               <div id="FAQ_sub">FAQ</div>
               
               <div class="Q">Q.<br/><br/><br/><br/>
                <h1>1. 초보자도 배울 수 있는 과정인가요?<br/>
                </h1>
                    <br/><br/><br/><br/><br/><br/>
                <h1>2. 참여 조건은 어떻게 되나요?</h1>
                <br/><br/><br/><br/>
                <h1>3. 취업지원은 어떻게 이루어지나요?</h1>
               </div>
               <div class="A">A. <br/><br/><br/>
                <a>1. 본과정은 사전역량이 없더라고 기초부터 배울 수 있는 과정으로 설계되었습니다. 
                    비전공 청년이도 충분히 과정에 참여하실 수 있습니다. 다만, 대학교 전공자와 성취도 차이는
                    당연히 있을 수 있으므로 만약 비전공자이시라면 전공자분보다 더 열심히 할 각오로 오셔야 합니다. 
                </a> <br/><br/>
                <a>2. 고등학교 졸업 이상, 취업준비생이면 누구나 참여가능합니다.
                    (군 미필자의 경우 취업이 어려울 수 있습니다.)
                    대학교 졸업 예정자/ 창업을 목적으로 하는 경우에는 컨설턴트를 통해 
                    나이요건을 초과하더라도 과정에 참여할 수 있으니 상담을 통해 안내 받으시길 바랍니다.
                </a><br/><br/>
                <a>3. 게임회사 취업에 있어 가장 중요한 것은 구현력과 결과물입니다. 우선 취업지원 없이도 
                    충분히 현업에서 먹히는 구현력과 결과물을 만들고 업계에서 인정 받을 수 있는 슈퍼신입을 
                    목표로 지도합니다. 취업에는 전담 전문가가 붙어서 직접 포트폴리오를 가이드하고 기업 실무자 HR+ 꿀팁과 
                    현업인 모의면접으로 철저하게 시뮬레이션하여 취업을 서포트합니다. 걱정마시고 상담 받아보세요!
                </a>
               </div>
               <div class="vertical_line"></div>
           </div>
           <div id="f_line" class="scroll_f"></div>
           <div id="apply">
               <button><a href="#">지원하기</a></button>
           </div>
           <div id="main_nav">
            <img src="/화살표.png">
            <ul class="main_nav_bar">
                <li>학교소개</li>
                <li>교육과정</li>
                <li>취업정보</li>
                <li>커뮤니티</li>
            </ul>
        </div>
     </div>
 

</body>
</html>