<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sub_sub_page(vrar).css">
    <script type="text/javascript" src="/sub_sub_page(vrar).js"></script>
</head>
<body>
    <!-- 일단 네비바는 KGA -->

    <!-- 수업 소개(과정 특장점이라든지..)-->
    <!-- 커리큘럼 상세 -->
    <!-- 수업혜택 -->
    <!-- 일정표?? 시간표?? -->
    

    <!-- 수강후기 & 더보기 -->
    <!-- 지원하기 -->

    <!-- 푸터 -->
    <div id="wrap">
        <div class="frame_out a"></div>
        <div class="frame_out b"></div>
        <div class="frame_out c"></div>
        <div id="frame"><img src="/KGApng.png"></div>
        <div id="a_line" class="scroll_a"></div>
        <div id="frame_in"></div>
       <div id="header">
           <div id="nav_bar">
               <div id="logo">KGA</div>
               <ul id="nav_ul">
                   <li class="nav_a" onclick="move_curriculum('.scroll_a');">VR / AR</li>
                   <li class="nav_b" onclick="move_curriculum('.scroll_b');">Intro</li>
                   <li class="nav_c" onclick="move_curriculum('.scroll_c');">Curriculum</li>
                   <li class="nav_d" onclick="move_curriculum('.scroll_d');">Course Review</li>
                   <li class="nav_e" onclick="move_curriculum('.scroll_e');">FAQ</li>
                   <li class="nav_f" onclick="move_curriculum('.scroll_f');">Apply</li>
                   <!-- 각각 엘리먼트 누르면 해당 영역으로 이동하도록-->
               </ul>
           </div>
       </div>
       <div id="contents">
           <div id="class_intro">
               <div class="inform_con">
                   <h3 class="inform_sub Sub">VR/AR 특화과정</h3>
                   <div class="inform_text one">
                    본 과정은 4차 산업혁명시대에 새로운 패러다임을 제시하는
                    가상 증강현실 어플리케이션 개발에 필요한 다양한 실무지식을 
                    습듯하는 취업가속형 부트캠프입니다.
                    고용노동부와 한국직업능력평가원에서 인증하는 우수훈련기관의
                    검증된 과정, 지금 바로 참여하세요.
                    </div>
                    <div class="inform_text two">
                    본 과정은 선발을 통해 이루어지는 훈련생 선발제 운영과정이며
                    훈련생에게 일체 수강료는 요구하지 않습니다.<br/>
                    합격 후 고용센터에서 일주일간의 직업상담을 거쳐 <br/>
                    '국민내일배움카드'를 발급받게 됩니다.<br/>
                    이미 4차 산업혁명 과정을 들었거나 국민내일배움카드의 잔액을 소진하신 분은 참여가 어렵습니다.
                    </div>
                    <div class=" inform_middle three">Curriculum</div>
                    <div class="inform_middle four">Riview</div>
                    <div class="inform_middle five">FAQ</div>
                    <div class="inform_middle six">Apply</div>
               </div>
           </div>
           <div id="curr_detail">
            <div id="b_line" class="scroll_b"></div>
               <h1>과정 소개</h1>
               <ul>
                   <li>교육과정명 : (증강현실) 가상 증강현실 응용 SW개발자 양성과정</li>
                   <li>교육 일정 : 개강일로부터 5개월</li>
                   <li>개강일 / 종강일 : 2021-07-02 ~ 2021-11-18</li>
                   <li>교육 장소 : 서울특별시 강동구 천호대로 995,금복빌딩 4층</li>
                   <li>강의 정원 : 30명 (선착순 조기마감 주의)</li>
                   <li>수강료 : 정부 전액 지원</li>
                   <li>자격요건 : 대학교 졸업 예정자(내년 9월 이전에 졸업 가능한 자)이상</li>
               </ul>
           </div>
           <div id="class_support">
               <div>
                   취업 책임제도
               </div> 
               <div class="strength">
                <br/>
                <br/>   
                <h1>과정 특장점</h1>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                1. 기업이 원하는 인재수요에 맞추어<br/>
                 바로 일할 수 있는 유능한 인재를 만드는
                실전 커리큘럼입니다.<br/>
                <br/>
                <br/>
                <br/>
                2. 트레드밀과 VR기어 등 직접 구동 할 수 있는 환경에서<br/>
                 내가 만든
                프로그램이나 어플환경에서 구동해 보고<br/>
                체험해보는 체험 집중형 교육입니다.
                <br/>
                <br/>
                <br/>
                3. 고용노동부와 한국 직업능력심사평가원에서<br/>
                5년 연속 우수훈련기관의 검증된 교육과정입니다.
              
                <br/>
                </div>    
            </div>
            <div class="supply"> 훈련비 전액지원 </div>
           </div>
           <div id="curr_table">
            <img src="/vrar_curriculum.png">
           </div>
           <div id="c_line" class="scroll_c"></div>
           <div id="d_line" class="scroll_d"></div>
           <div id="class_review">
               <h1>수강후기</h1>
               <div class="line"></div>
               <ul>
                   <li><h3>우남규</h3><br/>
                       <a>전공자였지만 좀 부족하거나 아예 아무것도 모르시는 분들고 참여가능한 과정입니다.
                           기초부터 탄탄하게 이곳에서 배우세요!.다만 어주간한 마음으로 오시면 버티기 힘드실거예요.
                           끈기를 가지시고 버티시면 취업됩니다.
                       </a>
                   </li>
                   <li><h3>강익환</h3><br/>
                       <a>처음에 아카데미에 왔을 때 상담해 주셨던 상담사님이 너무친절하시고 도전정신도 넣어주셔서
                           입학하게 되었습니다. 강의내용과 수업방침이 취업준비에 큰 도움이 되었습니다. 
                       </a>
                   </li>
                   <li><h3>유형우</h3><br/>
                        <a>어린시절 꿈만 많았던 제가 목표없이 길을 걷고있을 때
                            프로그래머로서 당당하게 길을 시작할 수 있게 안내해준 곳입니다.
                            프로그래머의 기초를 모르시는 분들이라면 걱정 마시고 문을 두드려보세요. 
                        </a>
                   </li>
                   <li><h3>임태천</h3><br/>
                        <a>취업을 위해서 학원을 고민중이시라면 경일을 선택하세요. 여러분의 취업을
                            확실하게 지원해 줄 곳입니다. 단순하게 학생을 돈으로 보는데 아니라 
                            정말 취업을 위해 힘써주시는게 느껴집니다. 
                        </a>
                   </li>
                   <li><h3>채수윤</h3><br/>
                        <a>수업시간에 어떻게 지나간건지 모를 정도로 빠르게 지나갔습니다. 
                            프로그래밍을 처음 배우면서 많은 걱정을 했지만 기초부터 차근차근 알려주셨고 
                            그것이 큰 도움이 되었습니다. 
                        </a>
                   </li>
                   <li><h3>서세원</h3><br/>
                        <a>마치 고등학교 선생님처럼 지도 받았습니다.
                            잘못하는게 있으면 바로 잡아주시고 신경을 많이 써주신 것 같아요. 감사합니다. 
                        </a>
                   </li>
                </ul>
                <!-- <div id="bottom"></div> -->
           </div>
           <div id="e_line" class="scroll_e"></div>
           <div id="FAQ">
               <div id="FAQ_sub">FAQ</div>
               
               <div class="Q">Q.<br/><br/><br/><br/>
                <h1>1. AR/VR은 어디에 쓰이나요?<br/>
                </h1>
                    <br/><br/><br/><br/><br/><br/>
                <h1>2. 참여 조건은 어떻게 되나요?</h1>
                <br/><br/><br/><br/>
                <h1>3. 사전지식이 없어도 참여 가능한가요?</h1>
               </div>
               <div class="A">A. <br/><br/><br/>
                <a>1. 첫째, 서울대, 네이버 커넥트 등 청년들이 가고싶어하는 43개 혁신 교육기관,
                    우수 대학 등이 참여하는 사업입니다. 
                    둘째, 네이버, 솔트룩스,마이리얼트립 등 청년들이 취업하고 싶은 디지털 선도기업이
                    직접 훈련과정의 설계를 지원하여 취업의 연계성이 높습니다.
                    셋째, 온라인 교육 플랫폼을 기반으로 하는 개인 맞춤교육으로 코로나 19시대에
                    비전공자도 되고싶은 디지털 현장 실무인재로 성장할 수 있습니다.
                </a> <br/><br/>
                <a>2. 고등학교 졸업 이상, 취업준비생이면 누구나 참여가능합니다.
                    (군 미필자의 경우 취업이 어려울 수 있습니다.)
                    대학교 졸업 예정자/ 창업을 목적으로 하는 경우에는 컨설턴트를 통해 
                    나이요건을 초과하더라도 과정에 참여할 수 있으니 상담을 통해 안내 받으시길 바랍니다.
                </a><br/><br/>
                <a>3. 본 과정은 프로그래밍 지식이 없더라도 충분히 배울 수 있는 과정으로 설계되었습니다. 
                    걱정하지 마시고 전문 상담사를 통해 상담 받으시고 참여하시기 바랍니다. 
                </a>
               </div>
               <div class="vertical_line"></div>
           </div>
           <div id="f_line" class="scroll_f"></div>
           <div id="apply">
               <button><a href="#">지원하기</a></button>
           </div>
       </div>
       <div id="footer"></div>
    </div>

</body>
</html>