<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sub_sub_page(gameArchi).css">
    <script type="text/javascript" src="/sub_sub_page(gameArchi).js"></script>
</head>
<body>
    <div id="wrap">
        <div class="frame_out a"></div>
        <div class="frame_out b"></div>
        <div class="frame_out c"></div>
        <div id="frame"><img src="/KGApng.png"></div>
        <div id="a_line" class="scroll_a"></div>
        <div id="frame_in"></div>
       <div id="header">
           <div id="nav_bar">
               <div id="logo">KGA</div>
               <ul id="nav_ul">
                   <li class="nav_a" onclick="move_curriculum('.scroll_a');">VR / AR</li>
                   <li class="nav_b" onclick="move_curriculum('.scroll_b');">Intro</li>
                   <li class="nav_c" onclick="move_curriculum('.scroll_c');">Curriculum</li>
                   <li class="nav_d" onclick="move_curriculum('.scroll_d');">Course Review</li>
                   <li class="nav_e" onclick="move_curriculum('.scroll_e');">FAQ</li>
                   <li class="nav_f" onclick="move_curriculum('.scroll_f');">Apply</li>
                   <!-- 각각 엘리먼트 누르면 해당 영역으로 이동하도록-->
               </ul>
           </div>
       </div>
       <div id="contents">
           <div id="class_intro">
               <div class="inform_con">
                   <h3 class="inform_sub Sub">게임 콘텐츠 제작</h3>
                   <div class="inform_text one">
                    북미 게임개발자 커리큘럼을 모티브로 현장감 있는 게임 기획자를 육성합니다. <br/>
                    과정중 총 72가지의 프로젝트와 협업을 통해 게임회사에서 먹히는 실무 전문가로 키워드립니다.<br/>
                    게임의 볼륨부터 각 수치 테이블 작성법까지!<br/> 현업 10년 이상의 베테랑 교수진을 통해 전수하는 게임 기획의 정수를 느껴보세요!
                    </div>
                    <div class="inform_text two">
                    본 과정은 선발을 통해 이루어지는 훈련생 선발제 운영과정이며
                    훈련생에게 일체 수강료는 요구하지 않습니다.<br/>
                    합격 후 고용센터에서 일주일간의 직업상담을 거쳐 <br/>
                    '국민내일배움카드'를 발급받게 됩니다.<br/>
                    </div>
                    <div class=" inform_middle three">Curriculum</div>
                    <div class="inform_middle four">Riview</div>
                    <div class="inform_middle five">FAQ</div>
                    <div class="inform_middle six">Apply</div>
               </div>
           </div>
           <div id="curr_detail">
            <div id="b_line" class="scroll_b"></div>
               <h1>과정 소개</h1>
               <ul>
                   <li>교육과정명 : (게임콘텐츠 제작)스타트업 게임 기획 & 프로그래밍 전문가 양성과정-2</li>
                   <li>교육 일정 :  5개월 3주과정(870 시간)</li>
                   <li>개강일 / 종강일 : 2021-08-08 ~ 2022-01-29</li>
                   <li>교육 장소 : 서울특별시 강동구 천호대로 995,금복빌딩 3,4층</li>
                   <li>강의 정원 : 30명 (선착순 조기마감 주의)</li>
                   <li>수강료 : 정부 전액 지원, 교통비, 식비 지원</li>
                   <li>자격요건 : 대학교 졸업 예정자(내년 9월 이전에 졸업 가능한 자)이상</li>
               </ul>
           </div>
           <div id="class_support">
               <div>
                   취업 책임제도
               </div> 
               <div class="strength">
                <br/>
                <br/>   
                <h1>과정 특장점</h1>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                1. 네코랜드 스튜디오를 활용한 게임개발, <br/>
                실제 유저들과 소통하고 피드백을 받을 수 있습니다.
                <br/>
                <br/>
                <br/>
                2. 보드게임 제작부터 온라인게임 제작까지!<br/> 게임개발 all process를 경험하고 <br/>
                본인의 강점을 찾아 컨설팅 해 드립니다.
                <br/>
                <br/>
                <br/>
                3. Unity로 라이브 서비스하여<br/> 직접 구글 스토어에 올리고 관리하는 것까지 <br/>
                최신 트렌드 게임을 직접 만들어보고 서비스합니다.
              
                <br/>
                </div>    
            </div>
            <div class="supply"> 훈련비 전액 정부지원, 교통비, 식비 지원 </div>
           </div>
           <div id="curr_table">
            <img src="/curri_archi.png">
           </div>
           <div id="c_line" class="scroll_c"></div>
           <div id="d_line" class="scroll_d"></div>
           <div id="class_review">
               <h1>수강후기</h1>
               <div class="line"></div>
               <ul>
                   <li><h3>김보민</h3><br/>
                       <a>비 온 뒤 땅이 굳는다 했습니다. 힘든 일들이 있었던 만큼 우리는 결국 많은 걸 얻어갈 수 있었습니다.
                           과정 중 분명 포기하고 싶은 때가 있을 수도 있을 겁니다. 하지만 그걸 이겨내 보세요. 
                           여러분도 그럴 수 있을 겁니다. 
                       </a>
                   </li>
                   <li><h3>양상준</h3><br/>
                       <a>나는 게임 기획자가 되고 싶은데 뭘 해야 할지 모르겠다. 게임을 좋아하고
                           직접 만들어보고 싶다. 게임 기획을 배웠지만, 
                           더 실전적이고 전문적인 교육을 받기를 원한다. 위 세가지 사항에 한가지라도 충족
                           되는 분은, 경일 게임 아카데미를 등록하면 됩니다. 
                       </a>
                   </li>
                   <li><h3>임유진</h3><br/>
                        <a>기획에 아무 지식이 없던 저를 취업전선에 뛰어들 정도로 키워주신 교수님 감사합니다. 
                            이곳에서 배운 것들이 기획자가 되는 과정에 크나큰 양분이 될 것이라 믿어 의심치 않습니다!
                        </a>
                   </li>
                   <li><h3>김나빈</h3><br/>
                        <a>교육과정이 재미있었고 유쾌한 동기들이 있어 함께 이겨낼 수 있었습니다. 
                            또한 정신적으로 힘들 때마다 격려해 주시고, 멘탈을 잡아주신 것이 취업에 큰 도움이 되었어요. 
                        </a>
                   </li>
                   <li><h3>한재민</h3><br/>
                        <a>대학교도 게임학과로 나왔지만, 만약 제 친동생이
                            게임업계를 지양한다면 '경일게임아카데미'를 추천하겠습니다. 
                        </a>
                   </li>
                   <li><h3>박준혁</h3><br/>
                        <a>
                            만약 혼자서 준비를 했더라면 불가능 했을 것 같은 일들이 경일게임아카데미에서 과정을 진행하면서
                            가능한 일들이 되었습니다.
                        </a>
                   </li>
                </ul>
                <!-- <div id="bottom"></div> -->
           </div>
           <div id="e_line" class="scroll_e"></div>
           <div id="FAQ">
               <div id="FAQ_sub">FAQ</div>
               
               <div class="Q">Q.<br/><br/><br/><br/>
                <h1>1. 초보자도 배울 수 있는 과정인가요?<br/>
                </h1>
                    <br/><br/><br/><br/><br/><br/>
                <h1>2. 참여 조건은 어떻게 되나요?</h1>
                <br/><br/><br/><br/>
                <h1>3. 취업지원은 어떻게 이루어지나요?</h1>
               </div>
               <div class="A">A. <br/><br/><br/>
                <a>1. 본과정은 사전역량이 없더라고 기초부터 배울 수 있는 과정으로 설계되었습니다. 
                    비전공 청년이도 충분히 과정에 참여하실 수 있습니다. 다만, 대학교 전공자와 성취도 차이는
                    당연히 있을 수 있으므로 만약 비전공자이시라면 전공자분보다 더 열심히 할 각오로 오셔야 합니다. 
                </a> <br/><br/>
                <a>2. 고등학교 졸업 이상, 취업준비생이면 누구나 참여가능합니다.
                    (군 미필자의 경우 취업이 어려울 수 있습니다.)
                    대학교 졸업 예정자/ 창업을 목적으로 하는 경우에는 컨설턴트를 통해 
                    나이요건을 초과하더라도 과정에 참여할 수 있으니 상담을 통해 안내 받으시길 바랍니다.
                </a><br/><br/>
                <a>3. 게임회사 취업에 있어 가장 중요한 것은 구현력과 결과물입니다. 우선 취업지원 없이도 
                    충분히 현업에서 먹히는 구현력과 결과물을 만들고 업계에서 인정 받을 수 있는 슈퍼신입을 
                    목표로 지도합니다. 취업에는 전담 전문가가 붙어서 직접 포트폴리오를 가이드하고 기업 실무자 HR+ 꿀팁과 
                    현업인 모의면접으로 철저하게 시뮬레이션하여 취업을 서포트합니다. 걱정마시고 상담 받아보세요!
                </a>
               </div>
               <div class="vertical_line"></div>
           </div>
           <div id="f_line" class="scroll_f"></div>
           <div id="apply">
               <button><a href="#">지원하기</a></button>
           </div>
       </div>
       <div id="footer"></div>
    </div>

</body>
</html>