<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/sub/sub_sub_page(block).css">
    <script type="text/javascript" src="/sub/sub_sub_page(block).js"></script>

</head>
<body>

    <div id="wrap">
        <div class="frame_out a"></div>
        <div class="frame_out b"></div>
        <div class="frame_out c"></div>
        <div id="frame"><img src="/{{result.main_image}}"></div>
        <div id="a_line" class="scroll_a"></div>
        <div id="frame_in"></div>
        <div id="header">
            <div id="nav_bar">
                <div id="logo">KGA</div>
                <ul id="nav_ul">
                    <li class="nav_a" onclick="move_curriculum('.scroll_a');">{{curr}}</li>
                    <li class="nav_b" onclick="move_curriculum('.scroll_b');">Intro</li>
                    <li class="nav_c" onclick="move_curriculum('.scroll_c');">Curriculum</li>
                    <li class="nav_d" onclick="move_curriculum('.scroll_d');">Course Review</li>
                    <li class="nav_e" onclick="move_curriculum('.scroll_e');">FAQ</li>
                    <li class="nav_f" onclick="move_curriculum('.scroll_f');">Apply</li>
                    <!-- 각각 엘리먼트 누르면 해당 영역으로 이동하도록-->
                </ul>
            </div>
        </div>
        <div id="contents">
            <div id="class_intro">
                <div class="inform_con">
                    <h3 class="inform_sub Sub ">{{curr}}</h3>
                    <div class="inform_text one">
                    </div>
                    <script type = "text/javascript">
                        let one= document.querySelector('.one');
                        oneText = "{{result.dataValues.side_info1}}";
                        one.innerHTML = oneText.replace(/\&lt;/gi,"<").replace(/\&gt;/gi,">").replace(/\&quot;/gi,'"').replace(/\&amp;/gi,"&").replace(/\&nbsp;/gi," ").replace(/\//gi,"<br>");                 two.innerHTML = twoText.replace(/\&#39;/gi,"'").replace(/\//gi,"<br/>").replace(/\&/gi,"<br>").replace(/\//gi,"<br>");
                    </script>
                    <div class="inform_text two">
                    </div>
                    <script type = "text/javascript">
                        let two= document.querySelector('.two');
                        twoText = "{{result.dataValues.side_info2}}";
                        two.innerHTML= oneText.replace(/\&lt;/gi,"<").replace(/\&gt;/gi,">").replace(/\&quot;/gi,'"').replace(/\&amp;/gi,"&").replace(/\&nbsp;/gi," ").replace(/\//gi,"<br>");                 two.innerHTML = twoText.replace(/\&#39;/gi,"'").replace(/\//gi,"<br/>").replace(/\&/gi,"<br>");
                        </script>
                    <div class=" inform_middle three">Curriculum</div>
                    <div class="inform_middle four">Riview</div>
                    <div class="inform_middle five">FAQ</div>
                    <div class="inform_middle six">Apply</div>
                    
                </div>
            </div>
            <div id="curr_detail">
                <div id="b_line" class="scroll_b"></div>
                <h1>과정 소개</h1>
                <ul>
                    <li>교육과정명 : {{result.detail_name}}</li>
                    <li>교육 일정 : 개강일로부터 {{result.period}}개월</li>
                    <li>개강 / 종강일 : {{rst.start_date}} ~ {{rst.end_date}}</li>
                    <li>교육 장소 : {{rst.location}}}</li>
                    <li>강의 정원 : {{rst.limit_people}}명 (선착순 조기마감 주의)</li>
                    <li>수강료 : 정부 전액 지원(1인 {{result.tuition}}원)</li>
                    <li>자격요건 : {{result.qualification}}</li>
                    
                </ul>
            </div>
            <div id="class_support">
                <div>
                취업 책임제도
                </div> 
                <div class="strength">
                    <br/>
                    <br/>   
                    <h1>과정 특장점</h1>
                    <br/>
                    <div class="character"></div>
                    <script type = "text/javascript">
                        let character = document.querySelector('.character');
                        let tt=`{{result.character}}`;
                        tttext = tt.replace(/\&amp;/gi,"<br>");
                        character.innerHTML = tttext;
                    </script>
                    <br/>
                    <a></a>
                    <div class="consultant">
                        <h1>Consultant</h1>
                        {% if cst %}
                            {% for item in cst %}
                                <div class= "consultant_pro" style="width:395px;float:left;" >
                                    <div class= "consultnat_pic" style = " width:200px; height:300px; background:url('http://localhost:3000/{{item.picture}}') no-repeat; background-size:contain;">
                                    </div>
                                    <div class = "consultant_info">
                                        <h1>{{item.professor_name}}</h1>
                                        <a></a>
                                    </div>
                                </div>
                                
                            {% endfor %}
                            
                            <script type = "text/javascript">
                                let info = document.querySelectorAll('.consultant_info> a');
                                info_txt0 ="{{cst[0].dataValues.professor_info}}";
                                info_txt1 ="{{cst[1].dataValues.professor_info}}"; 
                                info[0].innerHTML = info_txt0.replace(/\&amp;/gi,"<br>");
                                info[1].innerHTML = info_txt1.replace(/\&amp;/gi,"<br>");
                                                            
                            </script>
                        {% endif %}
                    </div> 
                    <!-- consultnat div닫음 -->
                </div>
                <!-- strength div닫음 -->
                <div class="supply"> 훈련비 전액무료, 훈련수당 최대 300만원 지급</div>
            </div>
            <!-- support div 닫음 -->

            <div id="curr_table" style="clear:both;">
                <img src="/{{result.syllabus}}">
            </div>
            <div id="c_line" class="scroll_c"></div>
            <div id="d_line" class="scroll_d"></div>
            <div id="class_review">
                <h1>수강후기</h1>
                <div class="line"></div>
                <ul>
                    {% for item in rstReview %}
                    <li class = "rstReview">
                        <h3>{{item.nickname}}</h3><br/>
                        <a></a>
                    </li>
                    {% endfor %}
                    <script type = "text/javascript">
                        
                        let aText = document.querySelectorAll('.rstReview>a');
                        reviewText0 = `{{rstReview[0].dataValues.contents}}`;
                        reviewText1 = `{{rstReview[1].dataValues.contents}}`;
                        reviewText2 = `{{rstReview[2].dataValues.contents}}`;                           
                        reviewText3 = `{{rstReview[3].dataValues.contents}}`;
                        reviewText4 = `{{rstReview[4].dataValues.contents}}`;
                        reviewText5 = `{{rstReview[5].dataValues.contents}}`;
                        
                        innerTxt(aText[0],reviewText0);
                        innerTxt(aText[1],reviewText1);
                        innerTxt(aText[2],reviewText2);
                        innerTxt(aText[3],reviewText3);
                        innerTxt(aText[4],reviewText4);
                        innerTxt(aText[5],reviewText5);


                        function innerTxt(one,two){
                        one.innerHTML=two.replace(/\&lt;/gi,"<").replace(/\&gt;/gi,">").replace(/\&quot;/gi,'"').replace(/\&amp;/gi,"&").replace(/\&nbsp;/gi," ");
                        }
                        
                    </script>
                </ul>
                <!-- <div id="bottom"></div> -->
            </div>
            <div id="e_line" class="scroll_e"></div>
            <div id="FAQ">
                <div id="FAQ_sub">FAQ</div>
                {% for sss in faq %}
                <div class="FAQ">
                <div class="Q">
                    Q.
                    <br/><br/>
                    <h1>{{sss.question}}</h1>
                    <br/>
                </div>
                <div class="A">
                    A. 
                    <br/>
                    <a>{{sss.answer}}</a>
                    <br/>
                </div>
            </div>
                {% endfor %}

               <div class="vertical_line"></div>
           </div>
           <div id="f_line" class="scroll_f"></div>
           <div id="apply">
               <button><a href="#">지원하기</a></button>
           </div>
       </div>
       <div id="main_nav">
        <img src="/그림3.png" class="arrow">
        <a href="/"><img id="nav_logo" src="/그림2.png"></a>
        <ul id="nav_main_list">
            <li class="nav_bar intro_main"><a href="#"> 학교소개 </a>
                <ul class="nav_sub_list intro_sub">
                    <li><a href="#">인삿말</a></li>
                    <li><a href="#">연혁</a></li>
                    <li><a href="#">교직원 소개</a></li>
                    <li><a href="#">시설 소개</a></li>
                    <li><a href="#">오시는 길</a></li>
                </ul>
            </li>
            <li class="nav_bar curriculum_main"><a href="#"> 교육과정 </a>
                <ul class="nav_sub_list curriculum_sub">
                    <li><a href="#">과정 안내</a></li>
                </ul>
            </li>
            <li class="nav_bar job_info_main"><a href="#">취업정보</a>
                <ul class="nav_sub_list job_info_sub">
                    <li><a href="#">취업자 인터뷰</a></li>
                    <li><a href="#">취업 현황</a></li>
                    <li><a href="#">포트폴리오</a></li>
                </ul>
            </li>
            <li class="nav_bar community_main"><a href="#">커뮤니티</a>
                <ul class="nav_sub_list community_sub">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">수강후기</a></li>
                    <li><a href="#">KI이야기</a></li>
                    <li><a href="#">KI기자단</a></li>
                    <li><a href="#">교수칼럼</a></li>
                    <li><a href="#">네이버블로그</a></li>
            <li class="nav_bar community_main"><a href="#">커뮤니티</a>
                <ul class="nav_sub_list community_sub">
                    <li><a href="#">지원하기</a></li>
                    <li><a href="#">자주묻는 질문</a></li>        
                </ul>
            </li>
            <li class="nav_join"><a href="/login">로그인</a></li>
            <li class="nav_join"><a href="/join">회원가입</a></li>
        </ul>
    </div>

    </div>
</body>
</html>